/*
========================== 
===== Variable Color =====
==========================
*/

$white : #fff;
$red: #eb395f;
$black: #000;



/*
========================== 
===== Variable Font =====
==========================
*/

